{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{encore_entry_link_tags('home')}}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block main %}

	<section
		class=".container-fluid h-100 ">

		<!-- Home -->
		<div class="w-100 h-100 bg-dark position-relative">

			<video autoplay loop muted src="ressources/pexels-tima-miroshnichenko-5377684.mp4" class="position-absolute w-100 h-125"></video>
		<div class="position-absolute w-100 h-100 bg-dark opacity-60"></div>
		<div class="position-relative w-100 h-100 d-flex align-items-center justify-content-center flex-column pb-5">

			<p class="fs-5 text-light mb-0">ETUDIANT BTS SIO SLAM </p>
			<h1 class="text-center display-1 fw-bolder text-light">YANIS EL KAJJOUI </h1>
			<p class="fs-5 text-light mb-4">"Programmez-vous pour être libre et libérez-vous de la programmation"</p>
			<a href="{{ path('about') }}" class="btn btn-lg btn-primary">Mon Portfolio</a>
		</div>

	</div>
	<!-- Section 2  à propos de moi -->

	<section id="features" class="container-flex pb-5">

		<h2 class="text-center display-4 mb-md-5 mb-3">MES QUALITES</h2>

		<div class="row justify-content-center pt-4 pb-5 mt-md-5 mt-0">
			<div class="col-3 d-flex flex-column align-items-center">
				<div class="row justify-content-center">
					<img src="ressources/chat.svg" alt="chat icon" class="img-fluid">
				</div>
				<h2 class="fs-4">Réactif</h2>
				<p class="text-center">
					<strong>La réactivité permet une résolution rapide des problèmes.</strong>
				</p>
			</div>


			<div class="col-3 d-flex flex-column align-items-center">
				<div class="row justify-content-center">
					<img src="ressources/coding.svg" alt="coding icon" class="img-fluid">
				</div>
				<h2 class="fs-4">Persévérant</h2>
				<p class="text-center">
					<strong>La persévérance est un fait fastidieux et long parfois, mais qui est récompensée par la satisfaction d'avoir réussi dans le monde de la programmation.</strong>
				</p>
			</div>


			<div class="col-3 d-flex flex-column align-items-center">
				<div class="row justify-content-center">
					<img src="ressources/transfer.svg" alt="transfer icon" class="img-fluid">
				</div>
				<h2 class="fs-4">Autonome</h2>
				<p class="text-center">
					<strong>L'autonomie permet de mettre des solutions en place sans avoir besoin d'être assisté.</strong></p>
				</p>
			</div>

		</div>

	</section>

	<!-- Section 3 Mon Bts -->


	<section class="border-wrapper border-top pb-5 mb-5">

		<div id="bts" class="container-flex">

			<h2 class="text-center display-4 mt-md-5 mt-4">
				LE BTS SIO
			</h2>
			<p class="fs-5 text-dark mb-md-5 mb-4 text-center">(Services Informatiques aux Organisations)</p>

			<div class="row g-3 row-cols-1 row-cols-lg-2">

				<div>
					<div class="p-5 text-white bg-dark rounded-3 shadow">
						<h2>Les différentes options du BTS SIO 🏆</h2>

						<p class="mt-3">Deux options sont possible avec ce Bts l'option Slam ou l'option Sisr.</p>
						<a class="btn btn-outline-light" href="{{ path('bts_sio') }}">Plus d'info ici</a>
					</div>
				</div>


				<div>
					<div class="p-5 text-dark bg-warning rounded-3 shadow">
						<h2>Bloc de compétences</h2>
						<p>Consulter mon bloc de compétences réalisé de 2021 à 2023.</p>
						<a class="btn btn-outline-light" href="ressources/Annexe 6-1 - Tableau de synthèse - Epreuve E6 - BTS SIO 2023.xlsx - Tableau de synthèse Épreuve E4.pdf">Plus d'info ici</a>
					</div>
				</div>

				<div>
					<div class="p-5 text-white bg-primary rounded-3 shadow">
						<h2>Mes PPE</h2>
						<p>Mes projets perso encadrés sont disponible ci-dessous.</p>
						<a class="btn btn-outline-light" href="{{ path('ppe') }}">Plus d'info ici</a>
					</div>
				</div>

				<div>
					<div class="p-5 text-dark bg-light rounded-3 shadow">
						<h2>Mon Cv</h2>
						<p>disponible ici.</p>
						<a class="btn btn-outline-dark" href= "{{ path('cv') }}">Plus d'info</a>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Section Stripe -->

	<section class="bg-dark py-5 mt-5 d-flex flex-column justify-content-center align-items-center">
		<h1 class="text-light display-3">Portfolio Junior</h1>
	</section>

	<!-- Section de mes projets -->

	<section class="border-bottom">

		<div class="container mb-5 pb-5">

			<h2 class="text-center mt-md-5 mt-4 display-4">Les projets que j'ai pu réalisé au cours de mes deux années de BTS SIO</h2>
			<p class="fs-5 text-dark mb-md-5 mb-3 text-center">En voici quelques-uns
			</p>

			<div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">

				<div>
					<div class="card">
						<img src="ressources/Tesla-symbol.jpg" class="img-fluid" alt="Tesla">
						<div class="card-body">
							<h5 class="card-title">Création du site de Tesla via Bootstrap 5</h5>
							<p class="card-text">En cour...</p>
							<a href="#" class="btn btn-primary">Jetez un coup d'oeil</a>
						</div>
					</div>
				</div>

				<div>
					<div class="card">
						<img src="ressources/E-commerce.png" class="img-fluid" alt="E-Commerce">
						<div class="card-body">
							<h5 class="card-title">Site e-commerce Symfony 
							</h5>
							<p class="card-text">En cour...</p>
							<a href="#" class="btn btn-primary">Jetez un coup d'oeil</a>
						</div>
					</div>
				</div>

				<div>
					<div class="card">
						<img src="ressources/Portfolio2.jpg" class="img-fluid" alt="Portfolio">
						<div class="card-body">
							<h5 class="card-title">
								Portfolio V2</h5>
							<p class="card-text">Terminé !</p>
							<a href"{{ path('cv') }}" class="btn btn-primary">Jetez un coup d'oeil</a>
						</div>
					</div>
				</div>

				<div>
					<div class="card">
						<img src="ressources/meteo.png" class="img-fluid" alt="meteo">
						<div class="card-body">
							<h5 class="card-title">App météo</h5>
							<p class="card-text">Terminé !</p>
							<a href="#" class="btn btn-primary">Jetez un coup d'oeil</a>
						</div>
					</div>
				</div>

				<div>
					<div class="card">
						<img src="ressources/Pokedex.png" class="img-fluid" alt="Pokedex">
						<div class="card-body">
							<h5 class="card-title">Pokedex</h5>
							<p class="card-text">Terminé !</p>
							<a href="" class="btn btn-primary">Jetez un coup d'oeil</a>
						</div>
					</div>
				</div>

				<div>
					<div class="card">
						<img src="ressources/desk-work.jpg" class="img-fluid" alt="desk-work">
						<div class="card-body">
							<h5 class="card-title">???</h5>
							<p class="card-text">...</p>
							<a href="" class="btn btn-primary">Nada</a>
						</div>
					</div>
				</div>

			</div>

		</div>


	</section>

	<!-- Parallax Section -->

	<section class="parallax-section d-flex justify-content-center align-items-center">
		<h2 class="display-3 text-center text-white fw-bolder">
			Formulaire de Contact
		</h2>
	</section>

	<!-- Contact -->

	<!-- Wrapper container -->
	<div
		class="container py-4">

		<!-- Bootstrap 5 starter form -->
		<form
			id="contactForm">

			<!-- Name input -->
			<div class="mb-3">
				<label class="form-label" for="name">Nom</label>
				<input class="form-control" id="name" type="text" placeholder="Votre nom" data-sb-validations="required"/>
			</div>

						<!-- Prenom input -->
			<div class="mb-3">
				<label class="form-label" for="name">Prénom</label>
				<input class="form-control" id="name" type="text" placeholder="Votre prénom" data-sb-validations="required"/>
			</div>

			<!-- Email address input -->
			<div class="mb-3">
				<label class="form-label" for="emailAddress">Adresse mail</label>
				<input class="form-control" id="emailAddress" type="email" placeholder="Votre adresse mail" data-sb-validations="required, email"/>
			</div>

			<!-- Message input -->
			<div class="mb-3">
				<label class="form-label" for="message">Message</label>
				<textarea class="form-control" id="message" type="text" placeholder="Votre message" style="height: 10rem;" data-sb-validations="required"></textarea>
			</div>

			<!-- Form submit button -->
			<div class="d-grid">
				<button class="btn btn-primary btn-lg" type="submit">Envoyer</button>
			</div>

		</form>
	</div>
</section>
{% endblock %}

